* {
    box-sizing: border-box;
}

.ProductWorkingPage__container input {
    border: 2px solid rgb(89, 2, 41);

    background-color: yellow;
    padding: 5px;
    border-radius: 10px;

}

.productBase_container {
    width: 100%;
    display: flex;
    background-color: red;
    justify-content: space-between;
    margin-bottom: 30px;
}

.productBase_container input {
    margin-left: 5px;

}

/* cc phần nhập hình ảnh */
.productBaseImage_container {
    background-color: greenyellow;
    display: flex;
}

.productBaseImage_container_item {
    width: 50%;
    background-color: gold;

}

.productBaseImage_container_item textarea {
    width: 420px;
    height: 100px;
}

.productBaseSpecifications_container {
    background-color: rgb(122, 101, 241);
    margin-top: 20px;
}

.productBaseSpecifications_container_item {
    background-color: red;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.productBaseSpecifications_container_item_orther {
    padding-left: 20px;
}

.productBaseSpecifications_container_item_orther textarea {
    width: 100%;
    height: 100px;
}

.ProductWorkingPage__container .submit_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    float: right;
}


/* select */
.selectType {
    width: 150px;

    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f70067;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 5px;
}

.selectType:focus,
.selectType:hover {
    border-color: #555;
}